<!DOCTYPE html>
<html>
  {{>head}}
  <body>
    <h1>Adjust the Brightness</h1>
    <main>
      <button id="button-up" class="circle" type="submit">+</button>
      <input id="slider" type="range" min="0" max="100" step="1" value="50" data-orientation="vertical">
      <button id="button-down" class="circle" type="submit">-</button>
    </main>
    <button class="lrg" id="button-done" type="submit">Done</button>
  </body>
</html>
