<html>
  {{>head}}
  <body>
    <h1>What did you prefer using?</h1>
    <main>
      <button class="btn-lrg" type="submit" id="button-hand">Hand</button>
      <button class="btn-lrg" type="submit" id="button-cube">Cube</button>
      <button class="btn-lrg" type="submit" id="button-app">Mobile App</button>
    </main>
    <!-- <button class="btn-lrg" type="submit" id="button-vote">Vote <span></span></button> -->
  </body>
</html>
