@import "_reset.css";

/*--------------------------*/
/*      RESULTS PAGE        */
/*--------------------------*/

body {
  justify-content: space-around;
}

h1 {
  font-weight: 300;
  font-size: 4vh;
  color: #8c8c8c;
}

canvas {
  max-height: 80vh;
  padding: 4vh;
}
